* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 20px;
}

main {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.conteiner {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 50%;
    height: 300px;
    background-color: rgba(167, 163, 163, 0.267);
    box-shadow: 5px 0px 8px, -5px 0px 8px rgb(106, 106, 106);
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

#gerador_cpf {
    display: flex;
    width: 250px;
    height: 40px;
    font-size: 25px;
    border: 2px solid black;
    background-color: white;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: green;
    color: white;
    width: 90px;
    height: 30px;
}

button:hover {
    cursor: pointer;
}